
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-theme: rgb(244,149,27);
}

/* Logo Styles */
.CustomLogo{
  width: clamp(3em, 5.5vw, 10em);
}


/* Text Styles */

.Text{
  color: var(--text-theme);
}

.P{
  font-size: .7em;
  opacity: .8;
}

.P2{
  font-size: 1em;
  opacity: .8;
}

.UL {
  list-style: none;

}

.LI {
  font-size: .8em;
  font-weight: 200;
}

.A{
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  opacity: .8;
}


/* Background Color */

.btn-warning {
  background-color: var(--text-theme) !important;
}

/* ----------Media Quaries--------------- */


/* Logo Styles */
@media (max-width: 575px) {
  .CustomLogo{
    margin-left: 8vw;
  }
}



/* Subscribe Component Styles */
@media(min-width: 996px) {
  .inputGroup{
      max-width: 40%;
  }
}

